AnchorPane{
    -fx-background-color: black;
}

#flow{
    -fx-alignment:center;
    -fx-min-width:800;
    -fx-min-height:600;
    -fx-orientation:vertical;
    -fx-vgap: 20px;
}

#loc, #dest{
    -fx-font-family: "ZCOOL QingKe HuangYou";
    -fx-opacity:0;
}

.infos{
    -fx-alignment:center;
}

#loc{
    -fx-font-size: 35;
}

.planete{
    -fx-background-color: #1F2C2F;
    -fx-background-radius:5;
    -fx-min-width: 500px;
    -fx-padding:20 30;
}

.planete:hover{
    -fx-background-color: #CB4242;
    -fx-cursor: hand;
}

Label{
    -fx-font-size:25px;
    -fx-text-fill:white;
    -fx-font-family: "Roboto Slab";
}

#hud{
    -fx-opacity:0;
}