AnchorPane{
    -fx-background-color: black;
}

#flow{
    -fx-alignment:center;
    -fx-min-width:800;
    -fx-min-height:600;
    -fx-orientation:vertical;
    -fx-vgap: 20px;
}

#loc, #dest{
    -fx-font-family: "ZCOOL QingKe HuangYou";
    -fx-opacity:0;
}

.infos{
    -fx-alignment:center;
}

#loc{
    -fx-font-size: 35;
}

.planete{
    -fx-background-color: #1F2C2F;
    -fx-background-radius:5;
    -fx-min-width: 650px;
    -fx-max-width: 650px;
    -fx-min-height: 90px;
    -fx-max-height: 90px;
    -fx-padding:20 30;
    -fx-alignment:center;
    -fx-spacing: 40px;
}

.planete:hover{
    -fx-background-color: #CB4242;
    -fx-cursor: hand;
}

Label{
    -fx-font-size:25px;
    -fx-text-fill:white;
    -fx-font-family: "Roboto Slab";
}

.nomPlanete{
    -fx-min-width: 100px;
    -fx-max-width: 100px;
}

.descriptionPlanete{
    -fx-font-size:15px;
    -fx-wrap-text:true;
}

Button{
    -fx-text-fill: white;
    -fx-font-family: "Roboto Slab";
    -fx-font-size:18px;
    -fx-background-color: #1F2C2F;
    -fx-min-width: 150px;
}

Button:hover{
    -fx-background-color: #CB4242;
    -fx-cursor: hand;
}

#btnBox{
    -fx-spacing: 420px;
    -fx-min-width: 800px;
    -fx-min-height: 100px;
    -fx-alignment:center;
}

#hud{
    -fx-opacity:0;
}