AnchorPane{
    -fx-background-color: black;
}

#titreBox{
    -fx-alignment:center;
    -fx-padding:0 0 20px 0;
}

#titre{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-family: "ZCOOL QingKe HuangYou";
}

#flow{
    -fx-alignment:center;
    -fx-min-width:800;
    -fx-min-height:600;
    -fx-orientation:vertical;
    -fx-Vgap: 25px;
}

.item{
    -fx-padding:0 0 0 35;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-alignment: center-left;
    -fx-spacing: 30px;
}

.item ImageView{

}

.item Label{
    -fx-font-family: "ZCOOL QingKe HuangYou";
}

.nomItem{
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: 400;
    -fx-label-padding: 30 0 30 35;
    -fx-min-width: 300px;
}

.descItem{
    -fx-background-color: white;
    -fx-font-size: 20px;
    -fx-label-padding: 38 35 30 35;
    -fx-text-alignment: right;
    -fx-border-color:white;
    -fx-border-width: 0 0 0 1px;
    -fx-border-style: solid;
    -fx-min-width: 180px;
    -fx-alignment: center;
}