AnchorPane{
    -fx-background-color: black;
}

ImageView{
    -fx-opacity:0;
}

GridPane{
    -fx-alignment:center;
    -fx-min-width:800;
    -fx-min-height:600;
}

HBox{
    -fx-alignment:center;
    -fx-padding: 150 0 0 0;
}

Label{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-family: "Roboto Slab";
    -fx-opacity:0;
    -fx-alignment:center;
}

#startBtn{
    -fx-padding:12 30;
    -fx-font-size:20;
    -fx-text-fill:white;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Slab";
    -fx-border-width:3px;
    -fx-border-color: white;
    -fx-border-radius:5;
}

#startBtn:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-cursor: hand;
}