AnchorPane{
    -fx-background-color: black;
}

Label, Button{
    -fx-text-fill: white;
    -fx-text-alignment:center;
}

FlowPane{
    -fx-alignment:center;
    -fx-min-width:800;
    -fx-min-height:600;
    -fx-orientation:vertical;
    -fx-Vgap: 30px;
}

#titre{
    -fx-font-family: "ZCOOL QingKe HuangYou";
    -fx-font-size: 30px;
}

#control{
    -fx-min-width: 700;
    -fx-max-width: 700;
    -fx-spacing: 50px;
    -fx-alignment: center-left;
}

#sauvegardes{
    -fx-spacing: 25px;
}

#sauvegardes Label, Button{
    -fx-font-family: "Roboto Slab";
    -fx-font-size:18px;
}

.sauvegarde{
    -fx-min-width: 400;
    -fx-max-width: 400;
    -fx-padding:20 30;
    -fx-background-color: #1F2C2F;
    -fx-background-radius: 5;
    -fx-border-width:2px;
    -fx-border-color:transparent;
    -fx-border-radius:5;
}

.sauvegarde:hover{
    -fx-background-color: #207090;
    -fx-cursor: hand;
}

.sauvegarde:diabled, .sauvegarde:disabled Label{
    -fx-opacity:1.0;
}

.date{
    -fx-min-width: 200;
    -fx-max-width: 200;
}

Button{
    -fx-background-color: #1F2C2F;
    -fx-min-width: 150px;
}

Button:hover{
    -fx-cursor: hand;
}

#btn1:hover, #btn3:hover{
    -fx-background-color: #207090;
}

#btn2:hover{
    -fx-background-color: #CB4242;
}

#btns{
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-alignment: top-center;
    -fx-spacing: 25px;
}